body {
    width: 98%;
    margin: auto;
    padding: 5px;
}

header {
    background-color: rgb(0, 255, 128);
    border-bottom: 2px solid aquamarine;
    padding: 20px;
}

.nav-item {
    font-size: 18px;
}

.logo {
    font-size: 64px;
    margin-left: 15px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main-body, #aside-body {
    margin-top: 50px;
    margin-bottom: 50px;
}

#main-body {
    border: 2px groove gray;
    background-color: silver;
}

#messages {
    font-size: 12px;
    font-weight: bold;
}

#messages + ul {
    list-style: none;
}

.success {
    color: white;
    background-color: rgba(138, 236, 138, 0.7);
    height: 40px;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.error {
    color: black;
    background-color: rgba(255, 0, 0, 0.5);
}

#aside-body {
    border: 3px dashed lightskyblue;
    background-color: aquamarine;
    color: palevioletred;
}