{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ image.title }}{% endblock %}

{% block styles %}
<link href="{% static 'css/images/detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>{{ image.title }}</h1>

<div id="detail-block">
    {% load thumbnail %}
    {% thumbnail image.image "300" as im %}
    <a href="{{ image.image.url }}">
        <img src="{{ im.url }}" class="image-detail">
    </a>
    {% endthumbnail %}

    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
    <div class="image-info">
        <button class="btn btn-lg btn-default count">
            like{{ total_likes|pluralize }}
            <span class="total badge text-success">
                {{ total_likes }}
            </span>
        </button>
        <button class="btn btn-lg btn-success">
            <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like"
                class="like">
                {% if request.user not in users_like %}
                Like
                {% else %}
                Unlike
                {% endif %}
            </a>
        </button>
        {{ image.description|linebreaks }}
    </div>

    <div class="image-likes">
        {% for user in image.users_like.all %}
        <div>
            <img src="{{ user.profile.photo.url }}">
            <p>{{ user.first_name }}</p>
        </div>
        {% empty %}
        Nobody likes this image yet.
        {% endfor %}
    </div>
    {% endwith %}
</div>
{% endblock %}

{% block scripts %}
<!-- Load jscookie from CDN to use it in AJAX setup -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<!-- AJAX setup script -->
<script type="text/javascript" src="{% static 'js/ajax-setup.js' %}"></script>
<!-- jQuery UN/LIKE script -->
<script type="text/javascript" src="{% static 'js/images/detail.js' %}"></script>
{% endblock %}