{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Oasis{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32" />

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock %}
</head>

<body>
    <header id="header">
        <!-- head -->
        <div class="header-pan">
            <h1>Wellcome</h1>
            <p>to the <b>0Asis</b>.</p>
        </div>

        <!-- nav -->
        <nav>
            <div class="">
                <a href="{% url 'dashboard' %}" class="logo">0Asis</a>
            </div>

            {% if request.user.is_authenticated %}

                <div {% if section == "dashboard" %} class="active" {% else %} class="" {% endif %}>
                    <a class="" href="{% url 'dashboard' %}">My dashboard</a>
                </div>
                <div {% if section == "images" %} class="active" {% else %} class="" {% endif %}>
                    <a class="" href="{% url 'images:list' %}">Images</a>
                </div>
                <div {% if section == "people" %} class="active" {% else %} class="" {% endif %}>
                    <a class="" href="{% url 'user_list' %}">People</a>
                </div>

            {% endif %}

            {% if request.user.is_authenticated %}
                <div class="nav-item">
                    Hello {{ request.user.username }},
                    <a class="" href="{% url 'logout' %}">Logout</a>
                </div>
            {% else %}
                <div class="nav-item">
                    <a class="" href="{% url 'login' %}">Login</a>
                </div>
            {% endif %}
        </nav>
    </header>

    <!-- Root body -->
    <div id="body-root" class="container">
        <div id="main-body">
            {% block content %}
            {% endblock %}

            <!-- Django messages -->
            <p id="messages">
                <ul id="message-item">
                    {% if messages %}
                        {% for message in messages %}
                            <li class="{{ message.tags }}">
                                {{ message|safe }}
                                <a class="close">x</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </p>
        </div>

        <!-- aside -->
        <aside id="aside-body">
            {% block aside %}
                <h3>This is my social website...</h3>
            {% endblock %}
        </aside>
    </div>

    <footer>
        {% block footer %}
            <div>Powered by V3ct0r22</div>
        {% endblock %}
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Additional JavaScript file -->
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>